
<section class=" pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row blog-masonary">
          <% (current_site.the_post_type("post").the_posts.decorate rescue {}).each_with_index do |post, index| %>
            <div class="col-md-6 grid-item">
              <div id="post" class="single-blog-item position-relative post-86 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-corporate tag-business tag-finance">
                <!-- Blog Bg Shape -->
                <div class="date-bg-shape position-absolute">
                  <%=image_tag "date-shape.svg", class: "svg"%>
                </div>
                <!-- End Blog Bg Shape -->
                <!-- Blog Content Begin -->
                <div class="blog-content">
                  <p class="posted-on"><%=post.created_at.strftime("%d")%> <%=post.created_at.strftime("%b")%> </p>
                  <p class="category">Business</p>
                  <h3 class="blog-title"><%= post.the_title %></h3>
                  <%if post.has_thumb?%>
                    <%= raw post.the_link_thumb()%>
                  <%else%>
                    <p class="blog-excerpt"> <%= truncate(post.the_content, length: 200, escape: false) %></p>
                  <%end%>
                </div>
                <!-- Blog Content End -->
                <!-- Blog Hover Begin -->
                <div class="blog-hover text-center text-white position-absolute w-100 h-100 d-flex align-items-center justify-content-center bg-overlay bg-img">
                  <h3 class="blog-title"><a href="<%= post.the_url%>"><%= post.the_title %></a></h3>
                </div>
                <!-- Blog Hover End -->
                <!-- Blog Button Begin -->
                <div class="blog-button position-absolute w-100 d-flex align-items-center justify-content-center bg-img">
                  <%=image_tag "bottom-shape.svg", class: "svg"%>
                  <a href="<%= post.the_url%>" class="btn-inline">Read More</a>  
                </div>
                <!-- Blog Button End -->
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</section>
